[Desktop Entry]
Comment=A Theme in the style of Windows 10 Aero with Blur
Name=Ten-Aero
X-KDE-PluginInfo-Author=Updesh/Infinality
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=updesh.94@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=Ten-Aero
X-KDE-PluginInfo-Version=1.0
